/*Centrar*/
#texto{
    text-align: center;
}

#cosas{
    
    position: absolute;
    height: 370px;
    width: 375px;
    left: 40%;
    top: 100%;
    
}

/*Cereza*/
#posicionCereza{
    float: left;
    position: absolute;
    
    left: 5%;
    top: 5%;
    
}

#cereza{
    width: 130px;
    height: 70px;
    position: absolute;
}


/*Chirimoya*/
#posicionChirimoya{
    float: left;
    position: absolute;
    left: 15%;    
    top: 5%;
   
    
}
#chirimoya{
    width: 100px;
    height: 100px;
    position: absolute;
}

/*Fresa*/
#posicionFresa{
    float: left;
    position: absolute;
    
    left: 25%;
    top: 5%;
    
}
#fresa{
    width: 130px;
    height: 70px;
    position: absolute;
}

/*Manzana*/
#posicionManzana{
    float: left;
    position: absolute;
    
    left: 35%;
    top: 5%;
    
}
#manzana{
    width: 100px;
    height: 100px;
    position: absolute;
}

/*Melon*/
#posicionMelon{
    float: left;
    position: absolute;
    
    left: 45%;
    top: 5%;
    
}
#melon{
    width: 150px;
    height: 70px;
    position: absolute;
}

/*Naranja*/
#posicionNaranja{
    float: left;
    position: absolute;
    
    left: 5%;
    top: 30%;
   
}
#naranja{
    width: 130px;
    height: 80px;
    position: absolute;
}

/*Pera*/
#posicionPera{
   float: left;
   position: absolute;
    
    left: 15%;
    top: 30%;
    
}
#pera{
    width: 100px;
    height: 100px;
    position: absolute;
}

/*Platano*/
#posicionPlatano{
    float: left;
    position: absolute;
    
    left: 25%;
    top: 30%;
    
}
#platano{
    width: 110px;
    height: 80px;
    position: absolute;
}

/*Sandia*/
#posicionSandia{
    float: left;
    position: absolute;
   
    left: 35%;
    top: 30%;
    
}
#sandia{
    width: 100px;
    height: 100px;
    position: absolute;
}

/*Uvas*/
#posicionUvas{
    
    left: 45%;
    top: 30%;
    position: absolute;
    
}
#uvas{
    width: 130px;
    height: 70px;
    position: absolute;
}

#lateral{
    width: 25%;
    height: 100%;
    border: 1px solid black;
    position: absolute;
    left: 75%;
}

div{
    width: 140px;
    height: 140px;
    
}

input{
    position: absolute;
    top: 140%;
}

#precio{
    position: absolute;
    top: 110%;
}